@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>被锁定操作员列表</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
