<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="log-data\rollinglog" />
		<appendToFile value="true" />
           <MaxSizeRollBackups  value="10"  />  
           <StaticLogFileName  value="false"  />  
           <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />  
           <RollingStyle  value="Date"  />  
           <layout  type="log4net.Layout.PatternLayout">
             <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>
           </layout>  
       </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>

  <appender name="EntityLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Entity\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>
    </layout>
  </appender>

  <logger name="Entity" additivity="false">
    <level value="WARN" />
    <appender-ref ref="EntityLogFileAppender" />
  </logger>

  <appender name="DacLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Dac\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>
    </layout>
  </appender>

  <logger name="Dac" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="DacLogFileAppender" />
  </logger>

  <appender name="RulesLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Rules\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>
    </layout>
  </appender>

  <logger name="Rules" additivity="false">
    <level value="WARN" />
    <appender-ref ref="RulesLogFileAppender" />
  </logger>

  <appender name="FacadeLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Facade\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Facade" additivity="false">
    <level value="WARN" />
    <appender-ref ref="FacadeLogFileAppender" />
  </logger>

  <appender name="UipLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Uip\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Uip" additivity="false">
    <level value="WARN" />
    <appender-ref ref="UipLogFileAppender" />
  </logger>

  <appender name="WebformLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Webform\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Webform" additivity="false">
    <level value="WARN" />
    <appender-ref ref="WebformLogFileAppender" />
  </logger>

  <appender name="WebserviceLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Webservice\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Webservice" additivity="false">
    <level value="WARN" />
    <appender-ref ref="WebserviceLogFileAppender" />
  </logger>

  <appender name="WinformLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Winform\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Winform" additivity="false">
    <level value="WARN" />
    <appender-ref ref="WinformLogFileAppender" />
  </logger>

  <appender name="OperationLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Operation\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Operation" additivity="false">
    <level value="WARN" />
    <appender-ref ref="OperationLogFileAppender" />
  </logger>

  <appender name="CacheLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\Cache\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="Cache" additivity="false">
    <level value="WARN" />
    <appender-ref ref="CacheLogFileAppender" />
  </logger>

  <appender name="WinformManagerLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\WinformManager\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %c | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="WinformManager" additivity="false">
    <level value="WARN" />
    <appender-ref ref="WinformManagerLogFileAppender" />
  </logger>

  <appender name="AppFlowLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\AppFlowLog\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="AppFlowLog" additivity="false">
    <level value="INFO" />
    <appender-ref ref="AppFlowLogFileAppender" />
  </logger>

  <appender name="WorkFlowLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\WorkFlowLog\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %m%n%n"/>  
    </layout>
  </appender>

  <logger name="WorkFlowLog" additivity="false">
    <level value="INFO" />
    <appender-ref ref="WorkFlowLogFileAppender" />
  </logger>

  <appender name="UcLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\UcLog\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %m%n%n"/>
    </layout>
  </appender>

  <logger name="UcLog" additivity="false">
    <level value="INFO" />
    <appender-ref ref="UcLogFileAppender" />
  </logger>

  <appender name="ImpLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log-data\ImpLog\rollinglog" />
    <appendToFile value="true" />
    <MaxSizeRollBackups  value="10"  />
    <StaticLogFileName  value="false"  />
    <DatePattern  value="yyyyMMdd&quot;.log&quot;"  />
    <RollingStyle  value="Date"  />
    <layout  type="log4net.Layout.PatternLayout">
      <ConversionPattern  value="%d | %-5p | %m%n%n"/>
    </layout>
  </appender>

  <logger name="ImpLog" additivity="false">
    <level value="INFO" />
    <appender-ref ref="ImpLogFileAppender" />
  </logger>
  
</log4net>