Ext.define('Aform.model.Edit', {
    extend: 'Ext.data.Model',
    config: {
        fields: [
                    {
                        name: '<#= PkPropertyname #>',
						type: 'string'
                    },
                    <#= Common.GetPageModelFieldsApp(gridPanel, 5) #>
                ]
    }
});