<?xml version="1.0" encoding="utf-8"?>
<mappingAssembliesSettings>
  <add key="hibernate.mappingassemblies"
       value="
       Enterprise3.Common.Model,
       GXM3.XM.Model,
       GYS3.YS.Model,
       GQT3.QT.Model,
       GJX3.JX.Model,
       GBK3.BK.Model,
       GSP3.SP.Model,
       GGK3.GK.Model
       " />
</mappingAssembliesSettings>
