<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ng" type="NG.Aop.Configuration.NGConfigurationSection, NG.Aop" />
  </configSections>
  <ng>
    <typeAliases>
      <typeAlias alias="Singleton" type="NG.Aop.Lifetime.SingletonManager, NG.Aop" />
      <typeAlias alias="External" type="NG.Aop.Lifetime.ExternallyManager, NG.Aop" />
      <typeAlias alias="Transient" type="NG.Aop.Lifetime.TransientManager, NG.Aop" />
      <typeAlias alias="INGMatchingRule" type="NG.Aop.InterceptionExtension.INGMatchingRule, NG.Aop" />
      <typeAlias alias="NGMatchingRule" type="NG.Aop.InterceptionExtension.NGMatchingRule, NG.Aop" />
      <typeAlias alias="NGCallHandler" type="NG.Aop.InterceptionExtension.NGCallHandler, NG.Aop" />
      <typeAlias alias="MyCallHandler" type="NG.Aop.Test.MyCallHandler, NG.Aop.Test" />
      <typeAlias alias="interface" type="NG.Aop.InterceptionExtension.NGInterfaceInterceptor, NG.Aop" />
      <typeAlias alias="virtualMethod" type="NG.Aop.InterceptionExtension.NGVirtualMethodInterceptor, NG.Aop" />
      <typeAlias alias="transparentProxy" type="NG.Aop.InterceptionExtension.NGTransparentProxyInterceptor, NG.Aop" />
      
      <typeAlias alias="ILoginValidationFilterBase`1" type="NG3.SUP.LoginValidation.Interface.ILoginValidationFilterBase`2[[NG3.SUP.LoginValidation.Interface.FilterResult,NG3.SUP.LoginValidation.Interface],[NG3.SUP.LoginValidation.Interface.LoginValidationParam,NG3.SUP.LoginValidation.Interface]], NG3.SUP.LoginValidation.Interface" />
      
      <typeAlias alias="OriginalLoginRule" type="NG3.SUP.LoginValidation.Plugin.OriginalLoginRule, NG3.SUP.LoginValidation.Plugin" />
     
    </typeAliases>
    <containers>
      <container>
        <extensions>
          <add type="NG.Aop.InterceptionExtension.NGInterception, NG.Aop" />
        </extensions>
        <types>
          <type type="LoginValidationFilterBase`1" mapTo="OriginalLoginRule" name ="OriginalLogin"></type>
        </types>
      </container>
    </containers>
  </ng>
  <LoginValidationFilterSeq>

    <LoginValidationFilter id="2" name="OriginalLogin" description="NG原始认证"  seq="1" fullType="OriginalLogin" isNeedUi="true" />

  </LoginValidationFilterSeq>
</configuration>