<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="mappingAssembliesSettings" type="System.Configuration.NameValueSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->    
  </configSections>

  <appSettings>
    <!--必选，加密服务验证，默认127.0.0.1-->
    <add key="NSServer" value="127.0.0.1" />    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Access-Control-Allow-Origin" value="*" />
    <add key="Access-Control-Allow-Headers" value="*" />
    <add key="Access-Control-Allow-Methods" value="*" />
    <add key="DefaultPwd" value="" />
    <!--可选，新增操作员默认密码，默认空密码；若值为Random，则系统将随机产生6位数字密码-->
    <add key="IsCheckMaxRecord" value="true" />
    <!--可选，系统是否检查获取最大记录数；默认启用且与AllowMaxRecords有关-->
    <add key="AllowMaxRecords" value="500" />
    <!--可选，启用最大记录数检查，默认500-->
    <add key="AppKey" value="D31B7F91-3068-4A49-91EE-F3E13AE5C48C" />
    <add key="AppSecret" value="103CB639-840C-4E4F-8812-220ECE3C4E4D" />
    <add key="Language" value="zh-CN" />
    <add key="UseWebGarden" value="0" />
    <add key="SateCacheURL" value="tcp://localhost:36988/CacheServer" />
    <add key="MessageCacheURL" value="tcp://localhost:36987/CacheServer" />
    <add key="CommonDataCacheURL" value="tcp://localhost:36986/CacheServer" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="i6EcUrl" value="http://127.0.0.1/DMC/" />
    <add key="UserConnectString" value="ConnectType=SqlClient;Server=10.0.30.98\i6s;Database=NG0010;User ID=sa;Password=123" />
    <add key="PubConnectString" value="ConnectType=SqlClient;Server=10.0.30.98\i6s;Database=NGSOFT;User ID=dmc;Password=123" />
    <add key="DBTG6H" value="ConnectType=SqlClient;Server=10.0.13.168;Database=NG0001;User ID = sa; Password=123456;"/>
    <add key="DbName" value="NGRights" />
    <add key="BalanceSheet" value="101/102/111/112/121/131/135/141/151/161/162/211/221/225/231/301/302/311/321/322/331"/>
    <add key="IncomAndExpenditure" value="401/402/403/40301/40302/40303/40304/40305/40306/40307/405/406/407/408/501/50101/50102/50103/50104/502/50201/50202/50203/50204/50205/50206/503/50301/50302/50303/50304/50305/505/50501/50502/50503/50504/50505/50506/50507/507/508"/>
    <add key="Incom" value="401/402/403/40301/40302/40303/40304/40305/40306/40307/405/406/407/408"/>
    <add key="Expenditure" value="501/50101/50102/50103/50104/502/50201/50202/50203/50204/50205/50206/503/50301/50302/50303/50304/50305/505/50501/50502/50503/50504/50505/50506/50507/507/508"/>
    <add key="Bugt_Length" value="3" />
    <add key="Dealing" value="121/131/135/211/221/225/231"/>
    <add key="AuxiliaryType" value="往来单位/0001/S01/往来个人/0002/S02/部门/0003/S03"/>

    <add key="gsoftserver_url" value="http://10.0.17.84:8080/gsoftserver/"/>
  
    <!--api地址：http://127.0.0.1:8028/api/GCW/SysToken/GetToken?token=g6c  http://localhost/custom/api/GCW/SysToken/GetToken?token=g6c -->
    <add key="apiurl" value="http://localhost/custom/api/GCW/SysToken/GetToken?token=g6c"/>
    <!--IIS程序池心跳激活时间间隔(分钟)-->
    <add key="IISHeartBeatMinutes" value="20"/>

    <!--newgrand 的短信url地址-->
    <add key="messageUrl" value="http://uc.netcall.cc/i6Service/UCService.asmx"/>

    <!--<add key="DBTG6H" value="ConnectType=SqlClient;Server=10.0.13.168;Database=NG0001;User ID = sa; Password=123456;"/>-->
  
    <!--银行接口相关-->
    <add key="nc_ip" value="127.0.0.1" />
    <add key="nc_hp" value="4489" />
    <add key="nc_sp" value="4490" />
    <add key="cis" value="120290001066991" />
    <add key="id" value="nc312019.y.1202" />
    <add key="log" value="on" />
    <add key="pdf_save" value="on" />
    <add key="BankApiURL" value="http://127.0.0.1:8081/" /> 
    
  </appSettings>

  <!--MemCached客户端-->
  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
        <!--<add address="127.0.0.1" port="11212"/>
        <add address="127.0.0.1" port="11213"/>
        <add address="127.0.0.1" port="11214"/>
        <add address="127.0.0.1" port="11215"/>-->
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>

  <!--内存存储-->
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>

  <spring>
    <context>
      <resource uri="file://~/SNHConfig/ORMProviderSettings.xml" />
      <!--Dao-->
      <resource uri="file://~/SNHConfig/ORMDaoBase.xml" />
      <resource uri="file://~/SNHConfig/Dac.xml" />
      <!--Rule-->
      <resource uri="file://~/SNHConfig/Rule.xml" />
      <!--Facade-->
      <resource uri="file://~/SNHConfig/Facade.xml" />
      <!--Service-->
      <resource uri="file://~/SNHConfig/ORMServiceBase.xml" />
      <resource uri="file://~/SNHConfig/Service.xml" />
      <!--Controllers-->
      <resource uri="file://~/SNHConfig/WebApiController.xml" />
    </context>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1215">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/SNHConfig/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>

  <mappingAssembliesSettings configSource="SNHConfig\ORMMappingAssembliesSettings.config" />
 
  <databaseSettings configSource="SNHConfig\ORMDatabaseSettings.config" />


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--允许请求长度，设置为1GB内容-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>


  <system.webServer>
    <!--iis7默认上传文件大小28.61MB, 设置为1GB-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="AppInfo,Sign" />
        <!--<add name="Access-Control-Allow-Headers" value="*" />-->
        <add name="Access-Control-Allow-Methods" value="*" />
      </customHeaders>
    </httpProtocol>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="system;i6rules" />

      <!--Oracle-->
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" culture="neutral" publicKeyToken="89b483f429c47342" />
        <bindingRedirect oldVersion="0.0.0.0-10.2.0.100" newVersion="10.2.0.100" />
      </dependentAssembly> 

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <!--目录访问权限-->
  <location path="DownLoadFiles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="UpLoadFiles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>  
  
</configuration>
