<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="false">
    <!--日记记录的优先级priority，优先级由高到低分为
      OFF(6) ,FATAL ,ERROR ,WARN ,INFO ,DEBUG ,ALL(0)。
      Log4j建议只使用FATAL ,ERROR ,WARN ,INFO ,DEBUG这五个级别。-->

    <!--格式说明layout中的参数都以%开始，后面不同的参数代表不同的格式化信息（参数按字母表顺序列出）
    %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
    %n(new line):换行
    %d(datetime):输出当前语句运行的时刻
    %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数
    %t(thread id):当前语句所在的线程ID
    %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
    %c(class):当前日志对象的名称，例如：
           模式字符串为：%-10c -%m%n
           代码为：
    ILog log=LogManager.GetLogger(“Exam.Log”);
    log.Debug(“Hello”);
        则输出为下面的形式：
    Exam.Log       - Hello
    %L：输出语句所在的行号
    %F：输出语句所在的文件名
    %-数字：表示该项的最小长度，如果不够，则用空格填充
    例如，转换模式为%r [%t]%-5p %c - %m%n 的 PatternLayout 将生成类似于以下内容的输出：
    176 [main] INFO  org.foo.Bar - Located nearest gas station. -->

    <!--appender为不同日志输出的配置 -->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Logs/Application.log.txt"/>
      <param name="datePattern" value="yyyy-MM-dd HH:mm"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>
    <!-- 日志的所使用的等级以及所使用的日志输出配置；以下按日期生成日志的配置 -->
    <appender name="RollingLogFileAppender_Date" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/ExceptionLog"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd.'log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>

    <appender name="AOPAdvice_Date" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/AOPAdviceLog"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd.'log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>

    <!-- Nhibernate.SQL语句输出；以下按日期生成日志的配置 -->
    <appender name="SqlLogFileAppender_Date" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/ExecSqlLog"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd.'log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%newline"/>
      </layout>
    </appender>

    <!-- 指定logger的设置，additivity指示是否遵循缺省的继承机制-->
    <logger name="AOPAdvice" additivity="false">
      <level value ="Error"/>
      <appender-ref ref="AOPAdvice_Date"/>
    </logger>

    <!--输出NHibernate.SQL语句-->
    <logger name="NHibernate.SQL" additivity="false">
      <level value="Error" />
      <appender-ref ref="SqlLogFileAppender_Date" />
    </logger>

    <root>
      <!--设置默认日志器   -->
      <level value="Error"/>
      <appender-ref ref="RollingLogFileAppender_Date"/>
    </root>

  </log4net>
</configuration>
