<?xml version="1.0" encoding="utf-8"?>
<mappingAssembliesSettings>
  <add key="hibernate.mappingassemblies"
       value="
       Enterprise3.Common.Model,
       DMC3.Common.Model,
       DMC3.Rights.Model,
       DMC3.Org.Model,
       WM3.Doc.Model,
       DMC3.Enterprise.Model,
       DMC3.BasicData.Model,
       DMC3.Calendar.Model,
       DMC3.BusIntegration.Model,
       WM3.File.Model,
       WM3.Meet.Model,
       WM3.Certificate.Model,
       WM3.Signet.Model,
       WM3.KM.Model, 
       WM3.Archive.Model,
       WM3.Affairs.Model,
       WM3.HurryCall.Model,
       WM3.Inform.Model,
	     PMS3.Portal.Model,SPM.GYBZ.Model,
       HR3.Emp.Model,
       HR3.Pam.Model,
       HR3.Affairs.Model,
       NG3.Addin.Model,
       WM3.Common.Model,
       ITM3.BasicData.Model,
       ITM3.INV.Model,
       ITM3.TAX.Model,
       ITM3.ITAX.Model,
       ITM3.RTAX.Model,
       ITM3.STAX.Model,
       ITM3.Common.Model,
       GFI3.BasicData.Model,
       GFI3.GC.Model,
       WM3.Office.Model,
       SUP3.Log.Model,
       ECC3.LR.Model,
       ECC3.PEB.Model,
       FC3.BasicData.Model,
       FC3.BEI.Model,
       FC3.EFM.Model,
       FC3.ICM.Model,
       FC3.PFM.Model,
       FC3.SC.Model,
       FC3.Common.Model,
       FC3.FBM.Model,
       CBM3.BasicData.Model,
       CBM3.Common.Model,
	     CBM3.ECC.Model,
       SC3.BasicData.Model,
       SC3.Common.Model,
       SC3.ES.Model,
	     EPM3.DMC.Model,
	     EPM3.IC.Model,
	     EPM3.MC.Model,
       EPM3.PR.Model,
       EPM3.DW.Model,
	   GXM3.XM.Model,
       GYS3.YS.Model,
       GQT3.QT.Model,
       GJX3.JX.Model,
       GBK3.BK.Model,
       GSP3.SP.Model,
       GGK3.GK.Model
       " />
</mappingAssembliesSettings>
